# Dependências
/node_modules
/.pnp
.pnp.js

# Logs de compilação
/build
/dist

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de ambiente de desenvolvimento local
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Diretórios de cache do editor
/.vscode
/.idea
/.history

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de pacote
/package-lock.json
/yarn.lock

# Diretório de cobertura de teste
/coverage

# Arquivos de configuração de compilação
*.tsbuildinfo

# Arquivos de configuração do MongoDB
/mongo-data

node_modules/
dist/